.bg-hero{
    background-color: #fff;
}
.bg-grey{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /*background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
}

.bg-section-context{
    background-color: #1075B0;
}

.color-p{
    color: #1075B0;
}

.color-b{
    color: #641CBA;
}

.bg-spetial{
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.color-black{
    color:#000;
}
