* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }

html {
  font-size: 16px; /* 1rem = 16px */
}

h1 { font-size: 2.5rem; } /* 40px */
h2 { font-size: 2rem; }   /* 32px */
p  { font-size: 1rem; }   /* 16px */

h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* mínimo 32px, máximo 48px, escala según pantalla */
}


.main{
  display: block;
  width: 100%;
  height: auto;
}

.section{
  display: block;
  margin: auto;
  border:0px solid red;
  height: auto;
}
.section-hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  align-items: center;
  gap: 4rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}
.section-context{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  align-items: center;
  gap: 4rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}

.content-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px solid #000;
  padding: 5px;
}

.hero-image{
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0px solid #000;
}
.image-placeholder {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
.img-hero{
  max-width: 100%;
}
.box{
  display: block;
  border:0px solid #000;
  padding: 0;
  margin-bottom: 12px;
}
.controls-hero{
  display: inl;
  flex-direction: row;
  padding: 0;
  margin-bottom: 12px;
}

.logo{
    font-size: 2.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color:#1075B0;


}
.lemma{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: normal  ;
    
}
.text{
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
    color:#444;

}


.subtitle-section{
  text-align: center;
  font-family:"Quicksand", sans-serif;
  font-size: 2.2em;
  margin-bottom: 10px;
}
.context-section{
  text-align: center;
  font-family:"Quicksand", sans-serif;
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}



































.btn-go{
    color:#fff;
    font-family: "Nunito", sans-serif;
    border-style: none;
    background-color: #234FC7;
    border-radius: 4px;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 5px;
     padding: 10px;
    
}

.btn-more{

    color:#000;
    font-family: "Nunito", sans-serif;
    border-style: none;
    background-color: #F7F7F7;
    border-radius: 4px;
    border:1px solid #ddd;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 5px;
    padding: 10px;
    
}



.bg{
  background-image:url("./img/polygon-scatter-haikei-big.svg") ;
  background-repeat: no-repeat;
}




@media (max-width: 968px) {
            .section-hero {
                grid-template-columns: 1fr;
                gap: 2rem;
                padding: 3rem 5%;
            }

            .content-hero h1 {
                font-size: 2.5rem;
            }

 
        }

        @media (max-width: 640px) {
            .content-hero h1 {
                font-size: 2rem;
            }

            .content-hero p {
                font-size: 1rem;
            }


        }






        
.p5{
  padding: 5px;  
}
.p10{
  padding: 10px;  
}
.p15{
  padding: 15px;  
}
.p20{
  padding: 20px;  
}
.p40{
  padding: 40px;  
}
.plr20{
  padding-left: 20px;  
  padding-right: 20px;
}
.plr40{
  padding-left: 40px;  
  padding-right: 40px; 
}

.pt20{
  padding-top: 20px;
}

.pt40{
  padding-top: 40px;
}

.pb20{
  padding-bottom: 20px;
}

.pb40{
  padding-bottom: 40px;
}
