* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }

html {
  font-size: 16px; /* 1rem = 16px */
}

h1 { font-size: 2.5rem; } /* 40px */
h2 { font-size: 2rem; }   /* 32px */
p  { font-size: 1rem; }   /* 16px */

h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* m铆nimo 32px, m谩ximo 48px, escala seg煤n pantalla */
}


.main{
  display: block;
  width: 100%;
  height: auto;
}

.section{
  display: block;
  margin: auto;
  border:0px solid red;
  height: auto;
}
.section-hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  align-items: center;
  gap: 4rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}
.section-context{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  align-items: center;
  gap: 4rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}

.content-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px solid #000;
  padding: 5px;
}

.hero-image{
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0px solid #000;
}
.image-placeholder {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
.img-hero{
  max-width: 100%;
}
.box{
  display: block;
  border:0px solid #000;
  padding: 0;

}
.controls-hero{
  display: inline;
  flex-direction: row;
  padding: 0;
  margin-bottom: 12px;
}

.logo{
    font-size: 2.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color:#1075B0;


}
.lemma{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: normal  ;
    
}
.text{
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
    color:#444;

}


.subtitle-section{
  text-align: center;
  font-family:"Quicksand", sans-serif;
  font-size: 2.2em;
 
  color: #fff;
}
.context-section{
  text-align: center;
  font-family:"Quicksand", sans-serif;
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
  color: #fff;
}

.section-features{
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  height: auto;
  align-items: center;
  gap: 1rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}





.content-feature-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px solid #000;
  padding: 5px;
}





.content-feature-figures{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px solid #000;
  padding: 5px;
}



.box-feature-img{
  display: grid;
  grid-template-columns: auto 1fr;
  border:0px solid red;
  gap: 1rem;
  padding: 0px;

}
.icon-feature{
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.box-describe-icon-feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:0px solid red;
  
}
.service-icon{
  background-image:url("./img/service.svg") ;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.product-icon{
  background-image:url("./img/product.svg") ;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.face-person{
  background-image:url("./img/face-person.svg") ;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.store{
  background-image:url("./img/store.svg") ;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.title-icon-feature{
  margin-bottom: 7px;
  font-family: "Quicksand";
}

.describe-icon-feature{
  color: #444;
  font-family: "Quicksand";
}

.subtitle-content{
  font-family: "Quicksand";
}

.text-feature{
  font-size: 1.1em;
  color: #222;
  font-family: "Quicksand";
}





.section-masonry{
display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  height: auto;
  align-items: center;
  gap: 5rem;
  padding: 2rem 5%;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0 auto;
}



.content-icon-gallery{
  display: flex;
  flex-direction: column;
  
  gap: 10px;
  align-items: center;
}

.icon-gallery{
  width: 70px;
  height: 70px;
  border:1px solid #ddd;
  border-radius: 10px;
  background-color: #f5f5f5;
}




.content-row-icon-gallery{
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}
.icon-organize{
  background-image:url("./img/organize.svg") ;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clean{
  background-image:url("./img/clean.svg") ;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-productivity{
  background-image:url("./img/productivity.svg") ;
  background-repeat: no-repeat;
  background-position: center;
}




.section-base{
  display: grid;
  grid-template-columns:1fr;
  height: auto;
  align-items: center;
  gap: 2rem;
  padding: 0;
  background-color: transparent;
border:0px solid red;
  max-width: 1440px;
  margin: 0px auto;
}

.section-base > .section-base-left, .section-base-right{
  border:1px solid red;
  width: 100%;
}
.section-base-center{
  display: flex;

  
  border-radius: 20px
}
.img-base{
  max-width: 900px;
  margin: auto;
  border-radius: 20px;
border:0px solid #eee;box-shadow: 0px 37px 30px -10px rgba(0,0,0,0.3);
  

}

.section-base-main{
  padding-top: 40px;
  padding-bottom: 40px;
}




.galeria {
  display: flex;
  gap: 20px;
}

.sofa {
  position: relative;

  background-image: url('./img/sala.jpg'); /* tu imagen */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

/* Efecto general para realzar colores */
.sofa::after {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: color;
  opacity: 0.4;
}

/* Versi贸n roja */
.sofa.rojo::after {
  background-color: rgb(255, 80, 80);
}

/* Versi贸n verde */
.sofa.verde::after {
  background-color: rgb(80, 255, 140);
}

/* Versi贸n gris */
.sofa.gris::after {
  background-color: rgb(160, 160, 160);
}











.btn-go{
    color:#fff;
    font-family: "Nunito", sans-serif;
    border-style: none;
    background-color: #234FC7;
    border-radius: 4px;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 5px;
     padding: 10px;
    
}

.btn-more{

    color:#000;
    font-family: "Nunito", sans-serif;
    border-style: none;
    background-color: #F7F7F7;
    border-radius: 4px;
    border:1px solid #ddd;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 5px;
    padding: 10px;
    
}



.bg{
  background-image:url("./img/polygon-scatter-haikei-big.svg") ;
  background-repeat: no-repeat;
}
.bg-base{
  background-image:url("./img/base.svg") ;
  background-repeat: no-repeat;
}

            .section-type{
              padding: 40px 0px ;
            }

@media (max-width: 968px) {
            .section-hero {
                grid-template-columns: 1fr;
                gap: 2rem;
                padding: 3rem 5%;
            }

            .content-hero h1 {
                font-size: 2.5rem;
            }
            .section-features, .section-masonry{
              grid-template-columns: 1fr;
                gap: 1rem;
                padding: 3rem 5%;
            }
            .section-type{
              padding: 0 ;
            }
            .img-base{
              max-width: 90%;
            }
            
        }

        @media (max-width: 640px) {
            .content-hero h1 {
                font-size: 2rem;
            }

            .content-hero p {
                font-size: 1rem;
            }
            .section-type{
              padding: 0 ;
            }
            .content-row-icon-gallery{
              justify-content: center;
            }
            .img-base{
              max-width: 90%;
            }
            .section-base-main{
  padding-top: 0px;
  padding-bottom: 20px;
}

        }






        
.p5{
  padding: 5px;  
}
.p10{
  padding: 10px;  
}
.p15{
  padding: 15px;  
}
.p20{
  padding: 20px;  
}
.p40{
  padding: 40px;  
}
.plr20{
  padding-left: 20px;  
  padding-right: 20px;
}
.plr40{
  padding-left: 40px;  
  padding-right: 40px; 
}

.pt20{
  padding-top: 20px;
}

.pt40{
  padding-top: 40px;
}

.pb20{
  padding-bottom: 20px;
}

.pb40{
  padding-bottom: 40px;
}

.mb10{
  margin-bottom: 10px;
}

.mb20{
  margin-bottom: 20px;
}

















.gallery-section {
  padding: 40px 20px;
  border: 0px solid #311DB5;
  border-radius: 20px;
}

.gallery-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

#reloadGallery {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px 20px 10px 40px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  background-image: url("./img/refresh.svg") ;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 35px;
}
#reloadGallery:hover {
  background-color: #000;
}

.gallery {
  columns: 4;
  column-gap: 15px;
  transition: all 0.4s ease;
  min-height: 300px;
}

/*  Bloques base */
.block {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 12px;
  display: block;
  break-inside: avoid;
  transition: all 0.6s ease;
  background: #ccc;
  opacity: 0;
  transform: translateY(30px);
}

/*  Animaci贸n de entrada */
.block.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hover */
.block:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .gallery {
    columns: 3;
  }
}

@media (max-width: 576px) {
  .gallery {
    columns: 4;
  }
}




/*

.galeria {
  max-width: 1440px;
  margin: 60px auto;
  padding: 0 20px;
  border:1px solid #000
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 250px;
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  transition: transform 0.3s ease;
}

.grid-galeria img:hover {
  transform: scale(1.04);
}


.grid-galeria img:nth-child(1) {
  grid-column: span 2;
}


.grid-galeria img:nth-child(6) {
  grid-column: 2 / span 2;
}


@media (max-width: 768px) {
  .grid-galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
  }
  .grid-galeria img:nth-child(1),
  .grid-galeria img:nth-child(6) {
    grid-column: span 2;
  }
}
*/
